@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #09090a;
  color: #ffffff;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
